*{
	margin: 0;
	padding: 0;
}
body{
	min-width: 1280px;
}
/*header*/
header{
	height: 56px;
	background-color: #fff;
}
header .icon{
	float: left;
	width: 104px;
	height: 56px;
	background-image: url(images/icon-1.png);
	background-repeat: no-repeat;
	background-position:center left;
	margin-left: 59px;
	font-size: 21px;
	line-height: 56px;
	text-align: right;
}
header .list{
	float: right;
	line-height: 56px;
	margin-right: 40px;
}
header .list li{
	list-style: none;
	float: left;
	width: 90px;
	/*margin-right: 24px;*/
	color: #8e9197;
	cursor: pointer;
	text-align: center;
}
header .list li:hover{
	color:#e74f4d;
	border-bottom: 3px solid #e74f4d;
}
header .login{
	float: right;
	width: 47px;
	margin-right: 67px;
	background-image: url(images/icon-2.png);
	background-repeat: no-repeat;
	background-position: center left;
	line-height: 56px;
	color: #e74f4d;
	text-align: right;
	cursor: pointer;
}

/*banner*/
.banner{
	position: relative;
	height: 590px;
	border-top: 3px solid transparent;
	background-image: url(images/banner-pic.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.banner .index{
	position: absolute;
	top: 170px;
	left: 117px;
}
.banner .title{
	color:#fff;
	font-size: 60px;
}
.banner .detail{
	width: 400px;
	font-size: 25px;
	color: #fff;
}
.banner .button{
	width: 330px;
	height: 62px;
	margin-top: 65px;
	background-color: #e7504e;
	color: #fff;
	text-align: center;
	line-height: 62px;
	font-size: 30px;
	cursor: pointer;
	transition: background-color 1s;
}
.banner .button:hover{
	background-color: #a00;
}

/*icon-list*/
.icon-list{
	height: 250px;
	border-top: 1px solid transparent;
}
.icon-list ul{
	position: relative;
}
.icon-list li{
	float: left;
	width: 25%;
	list-style: none;
	text-align: center;
	transition: color 1s;
}
.icon-list li:hover{
	cursor: pointer;
	color: #a00;
}
.icon-list li img{
	margin-top: 46px;
	margin-bottom: 46px;
}
.icon-list li p{
	width: 200px;
	margin: 0 auto;
}
.icon-list li .line1,.icon-list li .line2,.icon-list li .line3{
	width: 2px;
	height: 52px;
	background-color: #ccc;
	position: absolute;
}
.icon-list li .line1{
	left: 25%;
	top: 130px;
}
.icon-list li .line2{
	left: 50%;
	top: 130px;
}
.icon-list li .line3{
	left: 75%;
	top: 130px;
}

/*panel*/
.panel{
	height: 360px;
	border-top: 1px solid transparent;
	background-color: #ededed;
	text-align: center;
}
.panel img{
	margin-top: 90px;
	margin-bottom: 50px;
}
.panel p{
	font-size: 60px;
	color: #a1a1a1;
}

/*search*/
.search{
	height: 340px;
	border-top: 1px solid transparent;
	background-image: url(./images/search-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.search .title{
	color: #fff;
	margin-top: 53px;
	margin-bottom: 10px;
	font-size: 30px;
	text-align: center;
}
.search .line{
	height: 3px;
	width: 40px;
	margin: 0 auto;
	background-color: #fff;
}
.search .detail{
	color:#fff;
	font-size: 15px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}
.search .button{
	position: relative;
	width: 1100px;
	height: 39px;
	margin: 0 auto;
	font-size: 12px;
}
.search input[type=text]{
	width: 230px;
	height: 42px;
	color:#d9dada;
	margin-right: 28px;
	padding-left: 10px;
	background-image: url(images/icon-4.png);
	background-repeat: no-repeat;
	background-position: 90% center;
	border: none;
}
.search ul{
	position: absolute;
	left: 271px;
	list-style: none;
	border: 1px solid #bf4f49;
	z-index: 999;
}
.search ul li{
	width: 220px;
	height: 35px;
	padding-left: 20px;
	background-color: #e4e3e5;
	line-height: 35px;
	color:#787878;
}
.search ul li:hover{
	background-color: #be4e48;
	background-image: url(images/icon-3.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	color:#fff;
}
.search input[type=button]{
	width: 236px;
	height: 40px;
	background-color: #bf4f49;
	border: none;
	color: #fff;
	transition:background-color 1s;
}
.search input[type=button]:hover{
	background-color: #a00;
}

/*pic-list*/
.pic-list{
	height: 606px;
	background-color: #f7f7f7;
	position: relative;
	text-align: center;
}
.pic-list .pic-1,.pic-list .pic-2,.pic-list .pic-3,.pic-list .pic-4{
	width: 220px;
	height: 390px;
/*	position: absolute;
	top: 102px;
	left: 148px;
	text-align: center;*/
	display: inline-block;
	margin-top: 102px;
	margin-right: 36px;
}
/*.pic-list .pic-1{
	left: 148px;
}
.pic-list .pic-2{
	left: 402px;
}
.pic-list .pic-3{
	left: 658px;
}
.pic-list .pic-4{
	left: 915px;
}*/
.pic-list .img{
/*	position: relative;*/
/*	width: 220px;
	height: 338px;*/	
	padding: 14px 8px;
	border: 2px solid #dcdcdc;
	background-color: #fff;
}
.pic-list .img img{
	/*display: block;*/
/*	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;*/
	/*line-height: 338px;*/
}
.pic-list .pic-1 h3,.pic-list .pic-3 h3,.pic-list .pic-4 h3{
	margin-top: 14px;
	font-size: 14px;
	margin-bottom: 11px;
}
.pic-list .pic-2 h3{
	font-size: 24px;
	letter-spacing: 24px;
	margin-left: 20px;
	margin-bottom: 14px;
}
.pic-list .pic-2 p{
	margin-bottom: 11px;
}
.pic-list p{
	color:#bcbdbd;
}

/*pic-detail*/
.pic-detail{
	height: 568px;
	border-top:1px solid transparent;
}
.pic-detail .index{
	float: left;
	width: 66%;
	height: 100%;
}
.pic-detail .surface{
	position: relative;
	border-top: 1px solid transparent;
	height: 100%;
	width: 100%;
	background-image: url(images/pic-detail-bg.png);
	background-size: cover;
	color:#fff;
	text-align: center;
	display: inline-block;
	
}
.pic-detail .surface h2{
	margin-top: 134px;
	font-size: 50px;
}
.pic-detail .surface h1{
	font-size: 150px;
}
.pic-detail .surface h3{
	font-size:30px;
}
.pic-detail .surface p{
	margin-top: 20px;
	font-size: 30px;
}
.pic-detail .surface:after{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -15px;
	content: "";
	width: 0;
	height: 0;
/*	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 30px solid #fff;*/
	border-width: 30px;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
}
.pic-detail .detail{
	height: 100%;
	border-top: 1px solid transparent;
	text-align: center;
	margin-left: 66%;
}
.pic-detail .detail .title{
	margin-top: 165px;
}
.pic-detail .detail .title span:first-child{
	font-size: 20px;
	letter-spacing: 5px;
}
.pic-detail .detail .title span:nth-child(2){
	font-size: 20px;
	color:#e74f4d;
}
.pic-detail .detail p{
	margin:32px 72px;
	color:#b0b0b0;
	line-height: 28px;
}
.pic-detail .detail input{
	margin-top: 20px;
	margin-bottom: 26px;
	color:#e4666a;
	border: 2px solid #e4666a;
	width: 105px;
	height: 33px;
	background-color: #fff;
	transition:background-color 1s;
	transition: color 1s;
}
.pic-detail .detail input:hover{
	background-color: #e4666a;
	color:#fff;
}
.pic-detail .detail .button-list{
	width: 102px;
	height: 12px;
	margin: 0 auto;
}
.pic-detail .detail .button-list div{
	float: left;
	margin: 0 10px;
	width: 12px;
	height: 12px;
	border: 1px solid #919192;
	border-radius: 50%;
}
.pic-detail .detail .button-list .active{
	background-color: #919192;
}

/*list-item*/
.list-item{
	height: 521px;
	border-top: 1px solid transparent;
}
.list-item .list-1,.list-item .list-2{
	text-align: center;
	float: left;
	/*border-top: 1px solid transparent*/
}
.list-item .list-1{
	width:33%;
	height: 100%;
	background-color: #e74f4d;
	color:#fff;
	font-size: 20px;
}
.list-item .list-2{
	width: 33%;
	height: 100%;
	background-color: #fff;
	font-size:20px;
}
.list-item p:first-child{
	margin-top: 174px;
}
.list-item p:nth-child(2){
	margin-top: 10px;
	margin-bottom: 25px;
}
.list-item .line{
	width: 31px;
	height: 2px;
	background-color: #fff;
	margin: 0 auto;
}
.list-item .list-2 .line{
	background-color: #aaa;
}
.list-item input[type=button]{
	margin-top: 25px;
	width: 170px;
	height: 43px;
	border: 1px solid #fff;
	background-color: transparent;
	color:#fff;
	font-size:20px;
	transition: background-color 1s;
}
.list-item .list-2 input[type=button]{
	border: 1px solid #e74f4d;
	color:#e74f4d;
}
.list-item .list-1 input[type=button]:hover{
	background-color: #fff;
	color:#e74f4d;
}
.list-item .list-2 input[type=button]:hover{
	background-color: #e74f4d;
	color:#fff;
}
.list-item .list-3{
	float: left;
	height: 100%;
	background-image: url(images/list-item-pic3.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 34%;
	position: relative;
}
.list-item .list-3:after{
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	border-left: 30px solid #fff;
	border-right: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-top: 30px solid transparent;
}

/*join*/
.join{
	height: 749px;
	border-top: 1px solid transparent;
}
.join .title{
	margin-top: 118px;
	text-align: center; 
	font-size:18px;
}
.join .title p:first-child{
	font-size:18px;
	font-weight: bold;
	letter-spacing:5px;
	margin-bottom: 8px;
}
.join .title .line{
	height: 2px;
	width: 31px;
	margin: 0 auto;
	background-color:#e8504e;
}
.join .title p:nth-child(3){
	margin-top: 15px;
	font-size: 14px;
	color:#B3AFAC;
}
.join .title p:last-child{
	font-size: 14px;
	color:#B3AFAC;
	margin-bottom: 105px;
}
.join .index{
	width: 1090px;
	margin: 0 auto
}
.join .left{
	width: 320px;
	float: left;
	margin-top: 20px;
	/*margin-left: 137px;*/
	margin-right: 70px;
}
.join .left .list-1{
	margin-bottom: 38px;
}
.join .left .list-2{
	margin-bottom: 18px;
}
.join .left .list-1 p:first-child,.join .left .list-2 p:first-child,.join .left .list-3 p:first-child{
	font-size: 16px;
	margin-bottom: 27px;
}
.join .left .list-1 p:nth-child(2),.join .left .list-2 p:nth-child(2){
	font-size: 14px;
	color:#9d9b9a;
}
/*.join .left img,.join .left span{
	text-align: right;
}*/
.join .left .list-1 p:last-child,.join .left .list-2 p:last-child,.join .left .list-3 p:last-child{
	text-align: right;
}
.join .left .list-1 p:last-child span,.join .left .list-2 p:last-child span,.join .left .list-3 p:last-child span{
	margin-left: 5px;
	color:#9d9b9a;
}
.join .right{
	width: 700px;
	float: left;
	/*margin-right: 137px;*/
}
.join .right input[type=text]{
	margin: 10px;
	width: 295px;
	height: 40px;
	background-color: #ededee;
	border: 1px solid #ededee;
	padding-left:15px;
	transition: background-color 1s;
	float: left;
}
.join .right input[type=text]:hover,.join .right input[type=text]:focus{
	background-color:#fff;
}
.join .right textarea,.join .right input[type=button]{
	width: 650px;
	height: 120px;
	margin: 10px;
	background-color: #ededee;
	border: 1px solid #ededee;
	padding-top: 15px;
	padding-left: 15px;
}.join .right textarea{
	width: 630px;
}
.join .right input[type=button]{
	height: 40px;
	/*line-height: 40px;*/
	padding: 0;
	transition: 
}
.join .right textarea:hover{
	background-color:#fff;
}
.join .right input[type=button]:hover{
	background-color: #e74f4d;
	color:#fff;
}

/*contact*/
.contact{
	height: 358px;
	border-top: 1px solid transparent;
	background-color: #32353e;

}
.contact .title{
	margin-top: 90px;
	text-align: center;
	color:#fff;
}
.contact .title p:first-child{
	font-size: 20px;
	margin-bottom: 10px;
}
.contact form{
	width: 535px;
	height: 45px;
	margin: 0 auto;
	/*border-top: 1px solid transparent;*/
	margin-top: 30px;
}
.contact input[type=text]{
	float: left;
	width: 420px;
	height: 41px;
	padding-left: 10px;
	/*margin-top: 30px;*/
	/*border: 1px solid #32353e;*/
}
.contact input[type=button]{
	float: left;
	width: 100px;
	height: 45px;
	background-color: #6f7178;
	border: 1px solid #6f7178;
	transition:background-color 1s;
	color:#fff;
}
.contact input[type=button]:hover{
	background-color: #5E5E68;
	border:1px solid #5E5E68;
}
.contact .icon{
	width: 200px;
	margin: 0 auto;
	margin-top: 37px;
}
.contact .icon div:nth-child(1){
	background-image: url(images/icon-6.png);
	width: 24px;
	height: 25px;
	float: left;
	transition: background-size 1s;
}
.contact .icon div:nth-child(2){
	background-image: url(images/icon-7.png);
	margin-left: 28px;
	margin-right: 27px;
	width: 29px;
	height: 25px;
	float: left;
	transition: background-size 1s;
}
.contact .icon div:nth-child(3){
	background-image: url(images/icon-8.png);
	margin-right: 21px;
	width: 29px;
	height: 25px;
	float: left;
	transition: background-size 1s;
}
.contact .icon div:nth-child(4){
	background-image: url(images/icon-9.png);
	width: 24px;
	height: 25px;
	float: left;
	transition: background-size 2s;
}

.contact .icon div:hover{
	background-size: 110%;
}


/*footer*/
footer{
	height: 58px;
	background-color: #2f2f38;
	color:#fff;
	line-height: 58px;
	font-size: 12px;
}
footer a{
	text-decoration: none;
	color:#fff;
	cursor: pointer;
}
footer a:hover{
	color:#e74f4d;
}
footer p:first-child{
	float: left;
	margin-left: 100px;
}
footer p:last-child{
	float: right;
	margin-right: 100px;
}