*{
	margin: 0;
	padding: 0;
}
/*header*/
header{
	height: 56px;
	background-color: #fff;
}
header .icon{
	float: left;
	width: 104px;
	height: 56px;
	background-image: url(images/icon-1.png);
	background-repeat: no-repeat;
	background-position:center left;
	margin-left: 59px;
	font-size: 21px;
	line-height: 56px;
	text-align: right;
}
header .list{
	float: right;
	line-height: 56px;
	margin-right: 40px;
}
header .list li{
	list-style: none;
	float: left;
	width: 90px;
	/*margin-right: 24px;*/
	color: #8e9197;
	cursor: pointer;
	text-align: center;
}
header .list li:hover{
	color:#e74f4d;
	border-bottom: 3px solid #e74f4d;
}
header .login{
	float: right;
	width: 47px;
	margin-right: 67px;
	background-image: url(images/icon-2.png);
	background-repeat: no-repeat;
	background-position: center left;
	line-height: 56px;
	color: #e74f4d;
	text-align: right;
	cursor: pointer;
}

/*banner*/
.banner{
	position: relative;
	height: 590px;
	border-top: 3px solid transparent;
	background-image: url(images/banner-pic.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.banner .index{
	position: absolute;
	top: 170px;
	left: 117px;
}
.banner .title{
	color:#fff;
	font-size: 60px;
}
.banner .detail{
	width: 400px;
	font-size: 25px;
	color: #fff;
}
.banner .button{
	width: 330px;
	height: 62px;
	margin-top: 65px;
	background-color: #e7504e;
	color: #fff;
	text-align: center;
	line-height: 62px;
	font-size: 30px;
	cursor: pointer;
	transition: background-color 1s;
}
.banner .button:hover{
	background-color: #a00;
}

/*icon-list*/
.icon-list{
	height: 250px;
	border-top: 1px solid transparent;
}
.icon-list ul{
	position: relative;
}
.icon-list li{
	float: left;
	width: 25%;
	list-style: none;
	text-align: center;
	transition: color 1s;
}
.icon-list li:hover{
	cursor: pointer;
	color: #a00;
}
.icon-list li img{
	margin-top: 46px;
	margin-bottom: 46px;
}
.icon-list li p{
	width: 200px;
	margin: 0 auto;
}
.icon-list li .line1,.icon-list li .line2,.icon-list li .line3{
	width: 2px;
	height: 52px;
	background-color: #ccc;
	position: absolute;
}
.icon-list li .line1{
	left: 25%;
	top: 130px;
}
.icon-list li .line2{
	left: 50%;
	top: 130px;
}
.icon-list li .line3{
	left: 75%;
	top: 130px;
}

/*panel*/
.panel{
	height: 360px;
	border-top: 1px solid transparent;
	background-color: #ededed;
	text-align: center;
}
.panel img{
	margin-top: 90px;
	margin-bottom: 50px;
}
.panel p{
	font-size: 60px;
	color: #a1a1a1;
}