*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #8a8c8e;
}

/*header*/
header{
	width: 100%;
	min-width: 600px;
	height:56px;
	background-color: #2189bf;
}
header .logo{
	float: left;
	width: 36px;
	height: 36px;
	margin-left: 50px;
	margin-top: 10px;
}
header .login,header .form{
	float: right;
}
header .login{
	width: 41px;
	margin-right: 94px;
	background-image: url(images/login.png);
	background-position: left;
	background-repeat: no-repeat;
	line-height: 56px;
	color:#fff;
	font-size: 12px;
	text-align: right;
}
header .form{
	margin-top: 14px;
	margin-right: 21px;
}
header .form input{
	width: 270px;
	height: 28px;
	padding-left: 42px;
	border-radius:14px;
	border:none;
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: 17px center;
	outline: none;
}


/*container*/
.container{
	/*min-width: 1280px;*/
	width: 1280px;
	height: 100%;
	margin:0 auto;
}
.container .sidebar{
	position:absolute;
	width: 260px;
	height: 1180px;
	top:56px;
	bottom: 0px;
	background-color: #2a2e3d;
}
.container .sidebar .avatar{
	margin-top: 18px;
	/*margin-left: 45px;*/
	color:#fff;
	/*line-height: 57px;*/
	height:57px;
	width: 100%;
	background-image: url(images/avatar.png);
	background-position: 45px center;
	background-repeat: no-repeat;
}
.container .sidebar .avatar p{
	line-height: 57px;
	margin-left: 120px;
}
.sidebar .focus{
	margin-top: 24px;
	margin-bottom: 24px;
	color:#6a7c90;
	height: 40px;
	background-image: url(images/sidebar-line.png);
	background-repeat: no-repeat;
	background-position: 117px ;
	text-align: center;
}
.sidebar .focus .left{
	float: left;
	margin-left: 63px;
	transition: color 1s;
}
.sidebar .focus .right{
	float: right;
	margin-right: 87px;
	transition: color 1s;
}
.sidebar .focus .line{
	float: left;
	height: 30px;
	width: 2px;
	background-color: #313545;
	margin: 0 auto;
}
.sidebar .focus .left p:first-child,.sidebar .focus .right p:first-child{
	font-size: 16px;
}
.sidebar .focus .left p:last-child,.sidebar .focus .right p:last-child{
	font-size: 12px;
}
.sidebar .focus .left:hover,.sidebar .focus .right:hover{
	cursor: pointer;
	color:#fff;
}
.sidebar .nav{
	font-size:12px;
}
.sidebar .nav .report{
	width: 215px;
	height: 198px;
	background-color: #383d4e;
	padding-left: 45px;
	padding-top: 14px;
}
.sidebar .nav .report>p:first-child{
	height: 15px;
	margin-bottom: 19px;
	font-size: 12px;
	background-image: url(images/nav-report.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 25px;
	color:#fff;
	line-height: 14px;
}
.sidebar .nav .file-list div{
	height: 16px;
	margin-left:24px;
	margin-bottom: 18px;
	padding-left: 16px;
	background-repeat: no-repeat;
	background-position: left;
}
.sidebar .nav .file-list>div:first-child{
	background-image: url(images/nav-list-dark.png);
	color:#6e8096;
}
.sidebar .nav .file-list .file{
	background-repeat: no-repeat;
	background-position: left;
	margin-bottom: 18px;
	padding-left: 16px;
}
.sidebar .nav .file-list>div:nth-child(2){
	background-image: url(images/nav-list-light.png);
	color:#fff;
	margin-left: 20px;
	padding-left: 20px;
}
.sidebar .nav .file-list .file-1{
	background-image: url(images/nav-file-dark.png);
}
.sidebar .nav .file-list .file-2{
	background-image: url(images/nav-file-light.png);
}
.sidebar .nav .file-list .file-name{
	margin-left: 55px;
	padding-left: 0px;
	height: 50px;
}
.sidebar .nav .file-list .file-name p{
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 15px;
}
.sidebar .nav .file-list .file-name .file2-1{
	background-image: url(images/nav-file2-light.png);
	color:#fff;
	margin-bottom: 18px;
} 
.sidebar .nav .file-list .file-name .file2-2{
	background-image: url(images/nav-file2-dark.png);
	color:#6e8096;
	margin-bottom: 18px;
}
.sidebar .nav .file-list div:last-child{
	color:#6e8095;
	background-image: url(images/nav-list-dark.png);
}
.sidebar .nav .file-list div:last-child p{
	background-image: url(images/nav-file-dark.png);
}
.sidebar .nav .nav-list{
	padding-left: 45px;
	color:#6e8095;
	margin-top: 36px;
	/*margin-bottom: 20px;*/
}
.sidebar .nav .collect{
	margin-top: 16px;
}
.sidebar .nav .nav-list p{
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: left;
	height: 12px;
	font-size:12px;
	line-height: 14px;
}
.sidebar .nav  .collect p{
	background-image: url(images/nav-collect.png);
}
.sidebar .nav  .share p{
	background-image: url(images/nav-share.png);
}
.sidebar .nav  .pic p{
	background-image: url(images/nav-collect.png);
}
.sidebar .nav  .grow p{
	background-image: url(images/nav-collect.png);
}
.sidebar .nav  .account p{
	background-image: url(images/nav-account.png);
}
.sidebar .nav p:hover{
	color:#50b7c1 !important;
	cursor:pointer;
}


/*index*/
.index{
	margin-left: 260px;
	width: 1020px;
	height: 1180px;
	background-color: #eeeeed;
}
/*index->top*/
.index .nav{
	height: 30px;
	background-color: #fff;
	color:#b0b0b0;
	font-size: 12px;
	line-height: 30px;
	padding-left: 30px;
}
.index .nav a{
	display: inline-block;
	text-decoration: none;
	color: #b0b0b0;
	/*margin-left: 30px;*/
	width: 60px;
	text-align: center;
}
.index .nav a:last-child{
	color:#00a6ac;
}
.index .nav a:hover{
	color:#ea66a6;
}
/*index->content*/
.index .content{
	margin-top: 20px;
	margin-left: 60px;
	margin-right: 70px;
}

/*index->search-item*/
.index .content .search-item{
	position: relative;
	width: 890px;
	height:86px;
	background-color: #fff;
	border: 1px solid #dddfe1;
}
.index .content .search-item select{
	-webkit-appearance:none;
	height: 24px;
	border: 1px solid #cacbcb;
	background-image: url(images/search-list-dark.png);
	background-repeat: no-repeat;
	outline: none;
	transition: border 1s;
}
.index .content .search-item span{
	color:#b7b7b7;
	font-size:12px;
}
.index .content .search-item select:hover{
	border:1px solid #44b39e;
	cursor:pointer;
}
.index .search-item .search-list{
	position: absolute;
	top: 15px;
	left: 29px;
	width: 131px;
	height: 25px;
}
.index .search-item .search-list select{
	width: 75px;
	margin-left: 15px;
	padding: 0 5px;
	text-align: center;
	background-image: url(images/search-list-light.png);
	background-repeat: no-repeat;
	background-position: 60px center;
}
.index .search-item .people{
	position: absolute;
	top: 15px;
	left: 190px;
}
.index .search-item .people select{
	width: 120px;
	height: 23px;
	margin-left: 15px;
	margin-bottom: 6px;
	background-position: 100px center;
	padding: 0 5px;
}
.index .search-item .change{
	position:absolute;
	left: 354px;
	top: 23px;
	width:13px;
	height: 33px;
	background-image: url(images/search-change.png);
	background-repeat: no-repeat;
	padding-left: 15px;
	padding-top: 5px;
}
.index .search-item .change a{
	display: inline-block;
	font-size:12px;
	text-decoration: none;
	color:#fff;
}
.index .search-item .change a:hover{
	color:#94d6da;
}
.index .search-item .data{
	position: absolute;
	top: 15px;
	left: 408px;
	width: 310px;
}
.index .search-item .data>div{
	display: inline-block;
}
.index .search-item .data select{
	padding:0 5px;
}
.index .search-item .data .date select,.index .search-item .data .persons select{
	margin-left: 17px;
	margin-right: 15px;
}
.index .search-item .data .spend-time select,.index .search-item .data .volume select{
	margin-left: 12px;
}
.index .search-item .data .date select{
	width: 107px;
	height:23px;
	background: none;
	margin-bottom: 6px;
}
.index .search-item .data .spend-time select{
	width: 58px;
	height: 23px;
	background-position: 44px center;
}
.index .search-item .data .persons select{
	width: 57px;
	height: 23px;
	background-position: 43px center;
}
.index .search-item .data .volume select{
	width: 108px;
	height:23px;
	background-position: 93px center;
}
.index .search-item .button{
	position: absolute;
	top: 50%;
	left: 728px;
	margin-top: -13px;
}
.index .search-item .button input{
	width: 50px;
	height: 26px;
	background-color: #388bc2;
	color:#fff;
	border: none;
	font-size: 12px;
	transition: background-color 1s;
	border-radius:3px;
	outline: none;
}
.index .search-item .button input:hover{
	background-color:#d93a49;
}
/*index->search-history*/
.index .search-history{
	height: 64px;
	margin-top: 9px;
}
.index .search-history .left{
	float: left;
	width: 29px;
	background-color: #fff;
	height: 98%;
	border-top: 1px solid #dadbde;
	border-left: 1px solid #dadbde;
	background-image: url(images/search-his-left.png);
	background-repeat: no-repeat;
	background-position: center;
}
.index .search-history .right{
	float: left;
	width: 29px;
	background-color: #fff;
	height: 98%;
	border-top: 1px solid #dadbde;
	border-left: 1px solid #dadbde;
	background-image: url(images/search-his-right.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 4px;
}
.index .search-history .left:hover,.index .search-history .right:hover{
	background-color:#f6f5ec;
	cursor:pointer;
}
.index .search-history .list{
	float: left;
}
.index .search-history .list li{
	position: relative;
	float: left;
	width: 109px;
	height: 63px;
	list-style: none;
	background-color: #fff;
	margin-left: 5px;
	border-top: 1px solid #dadbde;
	border-left: 1px solid #dadbde;
}
.index .search-history .list li:hover{
	cursor: pointer;
}
.index .search-history .list li:first-child::before{
	position: absolute;
	top:0;
	content: '';
	width: 109px;
	height: 3px;
	background-color: #4389c9;
}
.index .search-history .list li:hover::before{
	position: absolute;
	top:0;
	content: '';
	width: 109px;
	height: 3px;
	background-color: #4389c9;
	/*display: none;*/
}
.index .search-history .list li p{
	text-align: center;
}
.index .search-history .list li p:first-child{
	font-size: 12px;
	margin-top: 14px;
}
.index .search-history .list li p:last-child{
	font-size: 21px;
	color: #ec6500;
}
.index .search-history .list li p:last-child::first-letter{
	color:#aeaeae;
	font-size: 15px;
	font-weight: bold;
}
.index .search-history .history{
	float: left;
	width: 129px;
	height: 63px;
	background-color: #fff;
	margin-left: 6px;
	border-top: 1px solid #dadbde;
	border-left: 1px solid #dadbde;
	background-image: url(images/search-his.png);
	background-repeat: no-repeat;
	background-position: 18px 16px;
}
.index .search-history .history p{
	font-size: 12px;
	line-height: 63px;
	font-weight: bold;
	margin-left: 61px;
}
.index .search-history .history:hover{
	cursor: pointer;
	background-color: #f6f5ec;
}
.index .count-time{
	margin-top: 20px;
	font-size: 12px;
}

/*index->count*/
.index .count{
	height: 72px;
}
.index .count > div{
	float: left;
	position: relative;
	height: 70px;
	width: 192px;
	background-color: #fff;	
	border:1px solid #b7b7b7;
	margin-right: 24px;
	padding-left: 8px;
	font-size: 12px;
}
.index .count .deal-1{
	border-left: 3px solid #44b39e;
}
.index .count .deal-2{
	border-left: 3px solid #388ac1;
}
.index .count .deal-3{
	border-left: 3px solid #cf4a36;
}
.index .count .deal-4{
	border-left: 3px solid #e2cd46;
	margin-right: 0px;
}
.index .count > div p:first-child{
	margin-top: 17px;
}
.index .count > div p:nth-child(2){
	margin-top: 10px;
	font-size: 10px;
	color:#b0b0b0;
	font-weight: bold;
}
.index .count > div div{
	position: absolute;
	width: 60px;
	height: 46px;
	right: 15px;
	top: 50%;
	margin-top: -23px;
	transition: background-color 1s,width 1s;
}
.index .count .deal-1 div{
	background-color: #44b39e;
}
.index .count .deal-2 div{
	background-color: #388ac1;
}
.index .count .deal-3 div{
	background-color: #cf4a36;
}
.index .count .deal-4 div{
	background-color: #e2cd46;
}
.index .count .deal-1 div:hover{
	background-color: #388ac1;
	width: 120px;
	cursor: crosshair;
}
.index .count .deal-2 div:hover{
	background-color: #cf4a36;
	width: 120px;
	cursor: crosshair;
}
.index .count .deal-3 div:hover{
	background-color: #e2cd46;
	width: 120px;
	cursor: crosshair;
}
.index .count .deal-4 div:hover{
	background-color: #44b39e;
	width: 120px;
	cursor: crosshair;
}
/*index->project-1*/
.index .project-1{
	height: 355px;
	margin-top: 13px;
}
.index .project-list{
	width: 530px;
	height: 100%;
	float: left;
	/*border: 1px solid #ced1d4;*/
	/*border-radius:7px;*/
	/*background-color: #fff;*/
}
.index .project-list .title,.index .project-detail .title,.index .calendar .title,.index .trend .title{
	height: 40px;
	width: 100%;
	background-color: #f4f5f6;
	color:#aaaaaa;
	font-size: 12px;
	line-height: 40px;
	border: 1px solid #ced1d4;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.index .project-list .title p,.index .project-detail .title p,.index .calendar .title p,.index .trend .title p{
	margin-left: 20px;
}
.index .project-list .detail,.index .project-detail .index-content,.index .calendar .content-cal,.index .trend .content-trend{
	border: 1px solid #ced1d4;
	border-top: none;
	background-color: #fff;
	height: 280px;
	width: calc(100% - 40px);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	/*padding: 12px 20px;*/
	padding-top: 12px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 23px;
}
.index .project-list .detail .item{
	width: 100%;
	height: 26px;
}
.index .project-list .detail .item li{
	list-style: none;
	float: left;
	width: 81px;
	height: 26px;
	background-color: #ececef;
	margin-right: 3px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 12px;
	line-height: 26px;
}
.index .project-list .detail .item li:first-child{
	background-color: #fff;
	border-top: 1px solid #cacbcb;
	border-left: 1px solid #cacbcb;
	border-right: 1px solid #cacbcb;
	/*border-radius: 5px;*/
}
.index .project-list .detail .item li:hover{
	cursor: pointer;
}
.index .project-list .detail .table{
	height: 249px;
	width: 100%;
	/*background-color: #a00;*/
	border:1px solid #cacbcb;

}
.index .project-list .detail table{
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 28px;
	margin-left: 36px;
}
.index .project-list .detail table td{
	border: 1px solid #d1d2d2;
	/*float: left;*/
	width: 99px;
	height: 28px;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
}
.index .project-list .detail table td:hover{
	background-color: #f3f5f6;
}

/*index->project-detail*/
.index .project-detail{
	height: 355px;
	width: 350px;
	float: left;
	margin-left: 10px;
	font-size: 12px;
}
/*.index .project-detail .title{
	height: 40px;
	width: 100%;
	background-color: #f4f5f6;
	color:#aaaaaa;
	font-size: 12px;
	line-height: 40px;
	border: 1px solid #ced1d4;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}*/
/*.index .project-detail .title p{
	margin-left: 20px;
}*/
/*.index .project-detail .index-content{
	border: 1px solid #ced1d4;
	border-top: none;
	background-color: #fff;
	height: 280px;
	width: calc(100% - 40px);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding-top: 12px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 23px;
}*/
.index .project-detail .title{
	border-bottom: 1px solid transparent;
}
.index .project-detail .index-content{
	padding-top: 16px;
	padding-left: 34px;
	padding-right: 0;
	padding:16px 0 0 34px;
	width: calc(100% - 34px);
	height: 300px;
}
.index .project-detail h4{
	color:#c3c2c2;
	font-weight: normal;
}
.index .project-detail .index-content p{
	line-height: 25px;
}
.index .project-detail .content-title{
	width: 95px;
	height: 42px;
	margin-left: 15px;
}
.index .project-detail .line-1{
	width: 281px;
	height: 1px;
	background-color: #e8e8e8;
}
.index .project-detail .price{
	float: left;
	height: 44px;
	width: 95px;
	margin-left: 15px;
}
.index .project-detail .line-2{
	float: left;
	width: 1px;
	height: 43px;
	background-color: #e8e8e8;
}
.index .project-detail .duty{
	float: left;
	margin-left: 11px;
}
.index .project-detail .line-3{
	width: 316px;
	height: 1px;
	background-color: #e8e8e8;
	margin-top: 43px;
}
.index .project-detail .describe{
	width: 280px;
	height: 145px;
}
.index .project-detail .line-4{
	width: 280px;
	height: 1px;
	background-color: #e8e8e8;
}
.index .project-detail input[type='checkbox']{
	-webkit-appearance:none;
	margin-top: 10px;
	width: 14px;
	height: 14px;
	background-color: #d5d5d5;
}
.index .project-detail input[type='checkbox']:checked{
	background-image: url(images/checkbox.png);
	background-repeat: no-repeat;
	background-position: center;
}
.index .project-detail input[type='checkbox']:focus{
	outline: none;
}
.index .project-detail label{
	display: inline-block;
	font-size: 12px;
	/*line-height: 12px;*/
	margin-top: 5px;
	color: #d5d6d5;
}
.index .project-detail input[type='button']{
	float: right;
	margin-right: 35px;
	margin-top: 5px;
	width: 51px;
	height: 25px;
	background-color: #388ac1;
	border: none;
	color: #fff;
	font-size: 12px;
	line-height: 25px;
	outline: none;
	transition: background-color 1s;
}
.index .project-detail input[type='button']:hover{
	cursor: pointer;
	background-color: #44b39e;
}

/*index->project-2*/

.index .project-2{
	width: 100%;
	height: 355px;
	margin-top: 8px;
}

/*.index->calendar*/
.index .calendar{
	height: 355px;
	width: 350px;
	float: left;
	font-size: 12px;
}
.index .calendar .content-cal{
	padding-top: 9px;
	height: 283px;
}
.index .calendar .content-cal .form{
	margin-left: 2px;
}
.index .calendar .content-cal select{
	outline: none;
	-webkit-appearance:none;
	border: none;
	font-size: 12px;
	text-align: center;
}
.index .calendar .content-cal .select{
	position: relative;
	float: left;
	width: 58px;
	height: 20px;
	margin-right: 6px;
	border: 1px solid #cbcbcb;
	/*padding-right: 10px;*/
	padding-left: 4px;	
	background-image: url(images/calendar-select.png);
	background-repeat: no-repeat;
	background-position: 50px center;
}

.index .calendar .content-cal .select .line{
	position: absolute;
	left: 43px;
	top: 0;
	width: 1px;
	height: 20px;
	background-color: #cdcecf;
}
.index .calendar .content-cal  .select-1{
	width: 43px;
	height: 20px;
	/*padding-right: 10px;*/
}
.index .calendar .content-cal .select:nth-child(2){
	width: 60px;
	padding-left: 23px;
	background-position: 72px center;
	background-image: url(images/nav-list-dark.png);
}
.index .calendar .content-cal .select:nth-child(2) .line{
	left: 64px;
}
.index .calendar .content-cal .select-2{
	width: 40px;
	height: 20px;
	background-image: url(images/calendar-select.png);
	background-repeat: no-repeat;
	background-position: 27px center;
}
.index .calendar .content-cal .select:nth-child(3){
	width: 69px;
	padding-left: 4px;
	background-position: 61px center;
}
.index .calendar .content-cal .select-3{
	width: 50px;
	height: 20px;
}
.index .calendar .content-cal .select:nth-child(3) .line{
	left: 54px;
}
.index .calendar .content-cal input[type='button']{
	width: 62px;
	height: 20px;
	background-color: #fff;
	border: 1px solid #cecfcf;
	outline: none;
	font-size: 12px;
	text-align: center;
}
.index .calendar .content-cal input[type='button']:hover{
	background-color: #50b7c1;
	color: #fff;
}
.index .calendar .content-cal .line-1{
	width:100%;
	height: 2px;
	background-color: #a9cfec;
	margin-top: 9px;
}
.index .calendar .content-cal ul{
	height: 30px;

}

.index .calendar .content-cal li{
	list-style: none;
	float: left;
	width: 44px;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.index .calendar .content-cal li:after{
	display: inline-block;
	height: 100%;
	content: '';
	vertical-align: middle;
}
.index .calendar .content-cal .line-2{
	width:100%;
	height: 2px;
	background-color: #e1e1e1;
	/*margin-top: 30px;*/
}
.index .calendar .content-cal .cal-index{
	/*margin-left: 10px;*/
	text-align: center;
}
.index .calendar .content-cal .cal-index td{
	width: 44px;
	height: 40px;
	/*transition: border 1s,width 1s,height 1s;*/
}

.index .cal-index td:nth-child(6) p:first-child{
	color: #c9161d;
}
.index .cal-index td:nth-child(7) p:first-child{
	color: #c9161d;
}
.index .cal-index tr:first-child td:nth-child(5) p:last-child,.index .cal-index tr:nth-child(2) td:nth-child(2) p:last-child{
	color: #c9161d;
}
.index .cal-index tr:nth-child(2) td:nth-child(6),.index .cal-index tr:nth-child(3) td:nth-child(2),.index .cal-index tr:nth-child(4) td:nth-child(2){
	border:1px solid #f7d564;
	width: 42px !important;
	height: 38px !important;
}
.index .cal-index td:hover{
	cursor: pointer;
	border:1px solid #f7d564;
	width: 42px !important;
	height: 38px !important;
}
/*index->trend*/
.index .trend{
	width: 530px;
	height: 100%;
	float: left;
	margin-left: 10px;
}
.index .trend .content-trend{
	padding:18px 40px;
	padding-right: 0;
	font-size: 12px;
}
.index .content-trend .table{
/*	width: 448px;
	height: 273px;
	border-top: 1px solid #cacbcb;
	border-left: 1px solid #cacbcb;
	border-right: 1px solid #cacbcb;*/
}
.index .content-trend table{
	border-collapse: collapse;
	/*border-spacing: 0;*/
}
.index .content-trend table td{
	border: 1px solid #cacbcb;
	text-align: center;
}
.index .content-trend .table tr td:first-child{
	width: 66px;
	height: 23px;
}
.index .content-trend .table tr td:nth-child(2){
	width: 90px;
	height: 23px;
}
.index .content-trend .table tr td:last-child{
	width: 290px;
	height: 23px;
	text-align: left;
	padding-left: 30px;
	position: relative;
}
.index .content-trend .table tr td:last-child{

}
.index .content-trend .table tr div{
	float: left;
}
.index .content-trend .table tr p{
	float: left;
}
.index .content-trend .table tr .container-color{
	position: absolute;
	width: 168px;
	height: 4px;
	background-color: #dddddd;
	/*margin-top: 6px;*/
	/*margin-left: 24px;*/
	top: 10px;
	left: 90px;
}
.index .content-trend .table tr:nth-child(2) .left{
	width: 140px;
	height: 4px;
	background-color: #ed6e52;
}
.index .content-trend .table tr:nth-child(3) .left{
	width: 121px;
	height: 4px;
	background-color: #aa2116;
}
.index .content-trend .table tr:nth-child(4) .left{
	width: 104px;
	height: 4px;
	background-color: #ad8b3d;
}
.index .content-trend .table tr:nth-child(5) .left{
	width: 97px;
	height: 4px;
	background-color: #2570a1;
}
.index .content-trend .table tr:nth-child(6) .left{
	width: 87px;
	height: 4px;
	background-color: #ea66a6;
}
.index .content-trend .table tr:nth-child(7) .left{
	width: 79px;
	height: 4px;
	background-color: #ffce7b;
}
.index .content-trend .table tr:nth-child(8) .left{
	width: 74px;
	height: 4px;
	background-color: #50b7c1;
}
.index .content-trend .table tr:nth-child(9) .left{
	width: 65px;
	height: 4px;
	background-color: #494e8f;
}
.index .content-trend .table tr:nth-child(10) .left{
	width: 59px;
	height: 4px;
	background-color: #b2d235;
}
.index .content-trend .table tr:last-child .left{
	width: 53px;
	height: 4px;
	background-color: #ef5b9c;
}
.index .content-trend .table tr:hover{
	background-color: #f4f6f7;
	cursor: pointer;
}